<p-menubar [model]="items" styleClass="border-none bg-transparent m-2">

  <!-- logo -->
  <ng-template pTemplate="start">

    <div class="flex items-center gap-3">

      <span class="
        font-semibold
        text-lg
        text-zinc-900
        dark:text-white
      ">
        Spring AI
      </span>

    </div>

  </ng-template>


  <!-- actions direita -->
  <ng-template pTemplate="end">

    <div class="flex items-center gap-2">

      <!-- botão tema -->
      <p-button
        type="button"
        icon="pi pi-moon"
        (click)="toggleTheme()"
        class="p-button-text"
        [text]="true"
      ></p-button>


      <!-- avatar -->
      <p-avatar
        image="/face-2.jpg"
        shape="circle"
      ></p-avatar>

    </div>

  </ng-template>

</p-menubar>
