/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@import "primeicons/primeicons.css";


@keyframes fadeInDown {

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes slideIn {

  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}



@keyframes scaleIn {

  from {
    opacity: 0;
    transform: scale(.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

